<!DOCTYPE html>
<html>


<head>
	<title>Editar Filme</title>

	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>
</head>



<body>
	<div class="container" style="text-align: center; width: 1117px;">
		<div th:replace="fragments/title :: title"/>

		<h1>Editar Cliente</h1>
		<<form th:action="@{/client/update/{id} (id = ${client.id})}" th:object="${client}" method="POST">
			<label>Nome:</label><br>
			<input type="text" th:field="*{firstName}"> <br><br>

			<label>Sobrenome:</label><br>
			<input type="text" th:field="*{lastName}"> <br><br>
			
			<label>CPF:</label><br>
			<input type="text" th:field="*{socialSecNumber}"> <br><br>
			
			<label>Nascimento:</label><br>
			<input type="text" th:field="*{birthDate}"> <br><br>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>


	</div>
</body>




</html>