<!DOCTYPE html>
<html>


<head>
	<title>Novo Filme</title>

	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>
</head>



<body>
	<div class="container" style="text-align: center; width: 1117px;">
		<div th:replace="fragments/title :: title"/>

		<h2 style=>Adicione um Novo Filme</h2>
		
		<form th:action="@{/add_new/save}" th:object="${movie}" method="POST">
			<label>Nome do filme:</label><br>
			<input type="text" name="name" th:field="*{name}" placeholder="Nome do filme"> <br><br>

			<label>Gênero do filme:</label><br>
			<select th:field="*{category}">
				<option th:value="${categoria.id}" th:text="${categoria.name}" th:each="categoria: ${categories}">
				</option>
			</select>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>


	</div>
</body>




</html>